<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="form">
      <form @submit.prevent="submit">
        <select v-model="selectedItem">
          <option v-if="loading" selected disabled :value="false">Loading Dates</option>
          <option v-else selected disabled :value="false">Select Date</option>
          <option v-for="item in items" :value="item">{{item.name}}</option>
        </select>
        <select v-model="quantity">
          <option v-for="(quantity, idx) in quantityAvailable" :value="idx">{{idx}}</option>
        </select>
        <button :disabled="!quantity || !selectedItem">Reserve</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/assets/js/square.js"></script>
  </body>
</html>