  @font-face {
    font-family: "Spot Mono";
    src: 
    url("/assets/fonts/spotmono/Spot\ Mono\ Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/spotmono/Spot\ Mono\ Regular.woff")format("woff");
    font-weight: normal;
    }