
body {
  padding: 15px;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.2vw;
  letter-spacing: -0.025em;
  line-height: 1.2em;
}
p {
  margin: 0;
  max-width: 20em;
  .title {
    padding-right: 30px;
    font-style: italic;
  }
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:active, &:visited {
    color: blue;
  }
}

div, header, footer {
  margin-bottom: 30px;
}

.past {
  text-decoration: line-through;
}