@font-face {font-family: 'Akzidenz';src: url('/assets/webfonts/BertholdAkzidenzGrotesk-Bold.woff') format('woff');
}
@font-face {font-family: 'JzujSans';src: url('/assets/webfonts/JzujSans8-Regular.woff') format('woff');
}

body {
  padding: 30px;
  text-align: center;
  font-family: 'Akzidenz', sans-serif;
  letter-spacing: 1px;
  font-size: 3.8vw;
  line-height: 3.8rem;
  color: #3F490B;
  background-color: #251F00;
}

p {
  margin: 0 0 3.8rem;
}

a {
  color: #3F490B;
  text-decoration: underline;
  &:hover {
    color: black;
  }
}

.headline {
  font-family: 'JzujSans', serif;
  font-size: 12vw;
  color: #3F490B;
  margin: 3.8rem 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.text {
  text-align: left;
  font-size: 2.2vw;
  line-height: 1.4em;
  max-width: 800px;
  margin: -3.8rem auto 0;
}
.images {
  max-width: 600px;
  text-align: center;
  position: relative;
  margin: 3.8rem auto;
  .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    p {
      font-size: 2vw;
      margin: 0 auto 1rem;
      &.subhead {
        font-variant: small-caps;
        margin: 0;
      }
    }
  }
  img {
    // position: absolute;
    max-width: 600px;
    z-index: 200;
    // top: 0;
    // left: 0;
  }
  // &:hover img {
  //   display: none;
  // }
  
}

input[type=button] {
  text-align: center;
  color: #3F490B;
  background-color: none;
  font-family: 'Akzidenz', sans-serif;
  letter-spacing: 1px;
  font-size: 2.2vw;
  padding: 22px 40px 20px;
  border: 3px solid #3F490B;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #3F490B;
  }
}