@mixin vendor($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@import 'fonts';
//////////////////////////////////
body {
  margin: 0;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  letter-spacing: -0.025em;
  line-height: 1.2em;
}

.text-headline {
  font-size: 55px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.text-description {
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  margin: 10px auto;
}

.text-body {
  margin: 10px auto;
}

p {
  margin: 0;
}

a {
  text-decoration: underline;
  color: black;
  &:hover {
    text-decoration: none;
    color: blue;
  }
}

header {
  width: calc(100vw - 40px);
  padding: 20px;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
  a {
    margin-right: 20px;
    text-decoration: none;
    &:hover {
      color: blue;
      text-decoration: underline;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.logo {
      font-style: italic;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    &.active {
      color: blue;
      text-decoration: underline;
    }
  }
}

nav {
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto 80px;
  &:first-of-type {
    margin-top: 73px;
  }
}

footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}

// content styles

.content-block {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
  .block-container {
    padding: 10px;
    flex: 0.5;
    margin: auto; 
    img {
      width: 100%;
      height: auto;
    }
    &.text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.content-header {
  margin: 20px auto;
}