<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138660986-1"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', 'UA-138660986-1')
  </script>
  <meta name="google-site-verification" content="wBcYTz4YU7kI-qA1YeniJiDBqjx6CQdUc6L8ZgNS2M8" />
  <meta name="google-site-verification" content="p3IArHJhdD7N2uzYWLV7M27BRYkyY5XfvQxzfkj7Ong" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.min.css" />
  <link rel="icon" type="image/png" href="/assets/imgs/favicon.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <script src="/assets/js/script.js"></script>

  <title>Jzuj Food</title>
</head>

<!-- Header -->

<body>
  <header>
    <div class="bg"></div>
    <div class="title">
      <a id="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </a>
      <a href="/" class="logo">Jzuj Food</a>
    </div>

    <nav>
      <a href="/pages/upcoming/summer19/" id="upcoming-events">Upcoming events</a>
      <a href="/pages/past/" id="past-events">Past events</a>
      <a href="/pages/info/" id="information">Information</a>
      <a href="/pages/newsletter">Newsletter</a>
    </nav>
  </header>

  <div class="content">

    <section>
      <div class="divider"></div>
      <h1 class="center">Summer 19</h1>
      <p>Join us throughout the summer for a special event series in our new outdoor dining space. The
        four course meal is focused on spring and early summer vegetables.</p>
      <p>Tickets are available for $45 per person. A wine pairing will be provided at the event for $40 along with a select
        bottle list.</p>
    </section>

    <section>
      <div class="divider"></div>
      <h1>Tickets</h1>

      <div id="form">
        <form @submit.prevent="submit">
          <div class="select-wrapper">
            <select style="background: url('/assets/imgs/arrow.svg') 100% / 20%  20px no-repeat white;" class="select"
              v-model="selectedItem">
              <option v-if="loading" selected disabled :value="false">Loading Dates</option>
              <option v-else selected disabled :value="false">Select Date</option>
              <option v-for="item in variations" :value="item">{{item.name}}</option>
            </select>
            <select :disabled="soldOut" style="background: url('/assets/imgs/arrow.svg') 100% / 20%  20px no-repeat white;" class="select"
              v-model="quantity">
              <option v-if="!selectedItem" selected disabled :value="false">Quantity</option>
              <option v-if="soldOut" selected disabled :value="false">Sold Out</option>
              <option v-else selected disabled :value="false">Select Quantity</option>
              <option v-for="(quantity, idx) in quantityAvailable" :value="idx + 1">{{idx + 1}} Seats</option>
            </select>
          </div>

          <div class="select-wrapper">
            <p>Subtotal: ${{ price }}</p>
            <button class="button" :disabled="!quantity || !selectedItem">Checkout</button>
          </div>
        </form>
      </div>
      <div class="divider"></div>
    </section>
    <section>
      <img class="summer19 small" src="/assets/imgs/summer19.svg" alt="Summer 19" />
    </section>



    <footer>
      <div class="divider"></div>
      <div class="links">
        <a href="mailto:info@jzujfood.com">Email</a>
        <a href="https://www.instagram.com/jzuj.food/">Instagram</a>
        <a href="/pages/newsletter">Newsletter</a>
      </div>
      <div>©2019</div>

    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/assets/js/square.js"></script>
</body>